<div class="position-class">
    <div class="positype">
        <span>职位分类</span>
        <button class="active">技术</button>
        <button>运营</button>
        <button>运营</button>
        <button>运营</button>
        <button>市场与销售</button>
        <button>运营</button>
        <button>运营</button>
    </div>
    <ul class="list">
        <li class="item">
            <div class="left">
                <h3 class="name">前端工程师</h3>
                <p class="time">2017-2-26 23:00</p>
            </div>
            <span class="right">13k-23k</span>
        </li>
    </ul>
</div>