<div class="bg-w position-info p-r">
    <div class="postitle">
        <h2 class="title f-l" ng-bind="pos.name"></h2>
        <div ng-show="isLogin" class="collicon f-r activeable">
            <span class="icon notcoll"></span>
            <span class="text">未收藏</span>
        </div>
    </div>
    <div class="detail">
            <div class="items">
                <span class="item salary">
                    <em class="icon"></em>
                    <span class="text" ng-bind="pos.salaryName"></span>
                </span>
                <span class="item workaddress">
                    <em class="icon"></em>
                    <span class="text" ng-bind="pos.cityName"></span>
                </span>
                <span class="item jobnature">
                    <em class="icon"></em>
                    <span class="text">全职</span>
                </span>
                <span class="item workyear">
                    <em class="icon"></em>
                    <span class="text" ng-bind="pos.experience"></span>
                </span>
                <span class="item education">
                    <em class="icon"></em>
                    <span class="text" ng-bind="pos.education"></span>
                </span>
            </div>
            <div class="temptation clear">职位诱惑：五险一金,弹性工作,年底双薪,带薪年假
</div>
        </div>
  <!--<p><span ng-bind="pos.name"></span><span class="ml c-r" ng-bind="pos.salaryName"></span></p>
  <p><span ng-bind="pos.cityName"></span><span class="ml" ng-bind="pos.experience"></span><span class="ml" ng-bind="pos.education"></span></p>
  <p ng-bind="pos.benefit"></p>
  <img ng-show="isLogin" ng-click="favorite()" class="p-a" ng-src="{{imagePath}}" alt="">-->
</div>
