<div class="position-class">
    <div class="positype">
        <span>职位分类</span>
        <button ng-click="isActive=$index" class="{{$index===isActive ? 'active': ''}}" ng-repeat="cls in com.positionClass">技术</button>
    </div>
    <ul class="list">
        <li class="item" ng-repeat="pos in cls.positionList">
            <div class="left">
                <h3 class="name" ng-bind="pos.name">前端工程师</h3>
                <p class="time" ng-bind="pos.createdDate">2017-2-26 23:00</p>
            </div>
            <span class="right" ng-bind="pos.salary">13k-23k</span>
        </li>
    </ul>
</div>