.position-class {
    .positype {
        background: @defaultColor;
        border-bottom: 1px solid @lineColor;
        padding: 13px 10px;
        span {
            display: block;
            margin: 0 0 5px 5px;
            .fs(5);
            color: @customColor;
        }
        button {
            outline: none;
            background-color: @btnbgColor;
            color: @btnColor;
            width: 32%;
            height: 40px;
            .fs(5);
            padding: 0;
            margin-right: 0px;
            border-radius: 20px;
            margin-bottom: 5px;
            &.active {
                background-color: @headbgColor; 
                color: @defaultColor;
            }
        }
    }
    .list {
        .item {
            height: 45px;
            padding: 15px;
            border-bottom: 1px solid @lineColor;
        }
        .left {
            float: left;
            width: 65%;
            overflow: hidden;
            h3 {
                color: @listColor;
                .fs(5);
                font-weight: normal;
                overflow: hidden;
                padding-top: 4px;
            }
            p {
                color: @listTimeColor;
                .fs(4);
                margin-top: 5px;
            }
        }
        .right {
            float: right;
            width: 30%;
            line-height: 40px;
            color: @headbgColor;
            .fs(5);
            text-align: center;
        }
    }
    
}