<div app-head-bar text="职位详情"></div>
<div app-position-info pos="position" is-login="isLogin"></div>
<div app-company com="company"></div>
<div class="bg-w position-desc">
  <h4>职位描述</h4>
  <div class="content">
    <p>1.具备美感和鉴赏力</p>
    <p>2.关注时尚类的公众号、网站，微博</p>
    <p>3.深入浅出的文字表达能力，具备新媒体的内容创作作与传播的经验</p>
    <p>4.新媒体（微信、微博）重度依赖者</p>
    <p>1.具备美感和鉴赏力，拥有自己的时尚见解</p>
    <p>2.关注时尚类的公众号、网站，微博</p>
    <p>3.深入浅出的文字表达能力</p>
    <p>4.新媒体（微信、微博）重度依赖者</p>
  </div>
</div>

<div class="bg-w position-eval">
  <div class="eval-title">
      面试评价
      <span>(1)</span>
  </div>
  <ul class="list">
      <li class="list-item">
          <div class="info-wrap">
              <img src="image/my.png" alt="">
              <span class="name">匿名</span>
              <span class="time">2016/11/21</span>
              <ul class="score-wrap">
                  <li>
                      <span class="type">综合评分</span>
                      <span class="score">4</span>
                  </li>
                  <li>
                      <span class="type">综合评分</span>
                      <span class="score">4</span>
                  </li>
                  <li>
                      <span class="type">综合评分</span>
                      <span class="score">4</span>
                  </li>
                  <li>
                      <span class="type">综合评分</span>
                      <span class="score">4</span>
                  </li>
              </ul>
          </div>
          <ul class="tags-wrap">
              <li>面试效率高</li>
              <li>面试效率高</li>
          </ul>
          <div class="review-content">有氛围的团队,一起努力</div>
          <div class="zan-wrap">
              <span class="zan">
                  <i></i>
                  <span class="count">有用<span>(0)</span></span>
              </span>
          </div>
      </li>
  </ul>
</div>
<button class="bottom-btn c-w ta-c" ng-click="go()">投个简历</button>
