@defaultColor: #fff;
@headbgColor: #00b38a;
@warnColor: #feae11;
@muteColor: #c2cfcc;
@lineColor: #e8e8e8;
@footBgColor: #f6f6f6;
@highlightBgColor: #e7f3f0;
@highlightColor: #00b38a;
@listColor: #333;
@listTimeColor: #888;
@customColor: #555;
@goBgColor: #f5f5f5;
@positiondesBg: #d2f9f0;
@fontColor: #b2b2b2;

//2bf0263